<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="../dist/img/logo.png" alt="GHC Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="menu.html">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="coffee.html">Coffee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ourstory.html">Our Story</a>
                        </li>
                    </ul>
            </div>
        </div><!--closes container-->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col p-4 ">
                <h1>GENERIC HIPSTER COFFEE</h1><br>
                <p>SPECIALTY COFFEE, FRESH FOOD & LOCAL COMMUNITY</p>
                <img class="img-fluid" src="../dist/img/counter-min.jpg" alt="">
            </div>
        </div>
        <!-- closes row -->


        <div class="row mt-5 mb-5">
            <div class="col-sm-4">
                <h3>OPENING HOURS</h3>
                    <p>sunday-thursday 8.00-23.00<br>friday-saturday 8.00-1.00</p>
            </div>

            <div class="col-sm-4">
                <p>Call +1 415-321-4567</p>
            </div>

            <div class="col-sm-4">
                <h3>ADDRESS</h3>
                <p>321 Ivy St.San Francisco, CA 94102 </p>
            </div>
        </div>
        <!-- closes row -->

        <div class="row">
            <div class="col g-overlay">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.5453209280995!2d-122.42566468550116!3d37.777258119791156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580989a5f5257%3A0x680358ba09ca1f03!2s321+Ivy+St%2C+San+Francisco%2C+CA+94102%2C+USA!5e0!3m2!1sen!2scz!4v1505470510024"
                    width="1090" height="614" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- closes row -->


    </div>
    <!-- closes container -->

    <div class="row">
            <div class="col p-4 g-footer">
                <ul class="nav justify-content-center g-footer-links">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Coffee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Story</a>
                    </li><br>
                </ul>

                <div class="col p-4 text-center">
                    <h2>#HIPSTERSMAKECOFFEE</h2>
                    <p>Follow us on <a href="#">Twitter</a> and <a href="#">Instagram</a></p>
                </div>
            </div>
        </div>
        <!-- closes row -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS and your own script at the end -->
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="js/custom.js"></script>

</body>

</html>